body{
    background: linear-gradient(to left, aqua,aqua ,grey);
}

.content_box {
    padding: 5%;
    font-size: 4vw;
    font-family: arial;
}

.Direction {
    display: flex;
    flex-direction: row;
    margin: 5%;
}

h1{
    text-align: center;
    color: rgb(54, 68, 107);
    font-size: 6vw;
    font-family: arial;
}

.Logo{
    width: 50%;
    display: flex;
    margin: auto;
    background-color: white;
    margin:auto;
    justify-content: center;
}

.Clamp{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1rem solid Black;
}

p{
    text-align: justify;
    color: rgb(54, 68, 107);
    margin: 5%;
}

button{
    width: 100%;
    font-size: 3vw;
    padding: auto;
    border: 0px solid black;
    text-align: center;
    padding: 5% 0% 0% 0%;
    background-color: unset;
}

.Bottom_Image{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border-radius: 5%;
}

.Metro_Cops{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Return{
    color: rgb(54, 68, 107);
    text-shadow: 0px 0px 10px;
}

@media (min-width:93rem) {
    .content_box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Logo{
        display: flex;
        flex-wrap: wrap;
        order: 0;
        width: 40%;
        float: left;
        align-items: flex-start;
        margin: 1rem;
    }

   .text{
        font-size: 3vw;
        width: 50%;
        align-self: flex-end;
        float: right;
        margin: 1rem;
        order: 3;
        flex-wrap: nowrap;
        position: absolute;
    }

    .Bottom_Image{
        display: flex;
        flex-wrap: wrap;
        order: 2;
        width: 40%;
        float: left;
        align-items: flex-start;
        margin: 1rem;
        /* border: 1px solid black; */
    }

    .Direction{
        width: 20%;
        font-size: 3vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        order: 4;
    }
}